*{
    outline: none !important;
}
body{
    background-color: #232020 !important;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    -ms-overflow-style: none;
}
/*=====Font-Family=====*/
.first{
    background-color: red;
    width: 16%;
    overflow-x: hidden;
    overflow-y: hidden !important;
    z-index: 1021;
    transition: 0.5s;
}
.v-nav{
    background-color: red !important;
    padding: 0 !important;
    font-family: 'Lato', sans-serif !important;
}
.cross{
    padding: 0 !important;
    padding-right: 10px !important;
    height: 55px;
    color: white;
}
.cross:hover{
    color: white;
}
.cross:visited{
    background-color: red !important;
}
.closebtn {
    font-size: 36px;
    text-align: end;
}
.show{
    width: 100%;
}
.active{
    background-color: black;
    border-right: 2px solid white;
}
.side-link{
    color: white;
    padding-left: 10px !important;
    padding-right: 10px !important;
    transition: all 0.5s ease-in-out;
}
.side-link:hover{
    color: white;
    background-color: #323437;
    padding-left: 20px !important;
}
.side-link:active{
    background-color: black;
}
.second{
    width: 100%;
}
.progress-container{
    position: fixed;
    z-index: 1021;
    top: 0;
    width: 100%;
    height: 5px;
    background: #ffffff;
}
.progress-bar {
    height: 5px;
    background: red !important;
    width: 0%;
}
.toaster{
    color: white;
    background-color: #323437;
    align-items: center;
    margin-bottom: 0 !important;
    padding: 10px 10px 10px 10px;
    width: 100% !important;
    overflow: auto;
}
.support{
    padding: 5px 10px;
    background-color: red;
    border: none;
}
.close{
    float: right;
    color: red !important;
    opacity: 1 !important;
    text-shadow: none !important;
}
.third{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
#nav{
    background-color: black !important;
    padding: 0 !important;
    font-family: 'Lato', sans-serif !important;
}
.navbar-brand{
    margin-left: 15px !important;
}
.navbar-toggler{
    display: block !important;
}
button.navbar-toggler{
    border-color: transparent !important;
}
.div1{
    text-align: center;
    height: auto;
    padding: 0 0 ;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 30px 0;
}
.divcon{
    color: white;
    text-indent: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 30px 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}
.form-control, .custom-select{
    color: red !important;
    background-color: transparent !important;
}
option{
    color: red;
    background-color: white;
}
::placeholder{
    color: white !important;
}
.btn{
    background-color: red !important;
}
.btn:hover{
    background-color: rgb(180, 0, 0) !important;
}
.btd{
    color: white !important;
    background-color: red !important;
}
.nav-tabs{
    border-bottom-color: red !important;
}
.nav-tabs .nav-link{
    color: red;
}
.nav-tabs .nav-link:hover{
    border-color: red !important;
}
.nav-tabs .nav-link.active{
    background-color: red !important;
    color: white !important;
    border: 1px solid red !important;
}
.tab-pane.active{
    /* background-color: transparent !important; */
    padding-right: 15px;
    padding-left: 15px;
    border-right: none !important;
}
.confirmed, .activ, .discharged, .deaths{
    border-top: 1px solid red;
    width: 22%;
    background-color: #323437;
}
.deaths{
    border-right: 1px solid red;
}
.confirmed:hover,.activ:hover,.discharged:hover,.deaths:hover, .countries:hover,.mortality:hover, .time:hover, .recovery:hover{
    box-shadow: 1px 1px 5px 1px red;
}
.div1 p{
    word-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
}
.div1 h3 {
    font-family: sans-serif !important;
    margin-bottom: 0;
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
}
p,hr{
    margin: 0 !important;
}
hr{
    background-color: rgba(255, 255, 255, 0.5);
}
.div2{
    text-align: center;
    padding: 0 !important;
    display: block;
    margin-bottom: 30px;
}
.sub{
    width: auto;
    height: auto;
}
#googleMap{
    padding: 0 !important;
    margin: 0;
}
.countries, .mortality, .recovery, .time{
    border-right: 1px solid red;
    background-color: #323437;
    width: 100%;
}
.div3{
    border-top: 1px solid red;
    margin: 0 !important;
    margin-bottom: 30px !important;
    padding: 0 !important;
}
.div2 p{
    word-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
}
.div2 h3 {
    font-family: sans-serif !important;
    margin-bottom: 0;
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
}
#barchart, #pie_div, #graph_div{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/*=======================================R.E.S.P.O.N.S.I.V.E.N.E.S.S====================================*/
/* Extra small devices (portrait phones, less than 576px) */ 
/* Small devices (landscape phones, 576px and lower) */
@media only screen and (max-width: 576px) {
    .third{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .div1{
        padding: 0 !important;
        margin-top: 20px;
        margin-bottom: 20px ;
    }
    .div3{
        margin-bottom: 20px !important;
    }
    .navbar-text{
        display:none !important;
    }
    .d-flex.div1{
        display: block !important;
    }
    .confirmed, .activ, .discharged, .deaths{
        width: 100%;
        margin-bottom: 10px;
    }
    .deaths{
        border-right: none;
    }
    .d-flex.div2{
        display: block !important;
        margin-bottom: 20px;
    }
    #googleMap{
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }
    .countries, .mortality, .recovery, .time{
        border-top: 1px solid red;
        border-right: none;
        margin-bottom: 10px;
    }
    .time{
        margin-bottom: 0 !important;
    }

} 
/* Medium devices (tablets, 768px and lower) */ 
@media only screen and (max-width: 768px) {
    
}
/* Large devices (desktops, 992px and lower) */
@media only screen and (max-width: 992px) {
    .first{
        height: 100%;
        width:0%;
        position: fixed;
        top: 0;
        left:0;
        overflow-x: hidden;
    }
    .second{
        width: 100%;
    }
    .nigeria{
        display:none !important;
    }
    table{
        overflow-x: scroll;
    }
}
/* Extra large devices (large desktops, 1200px and lower) */
@media only screen and (max-width: 1200px) {
} 
